<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>StuGrade</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
<servlet-name>Login</servlet-name>

<servlet-class>servlet.LoginServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Login</servlet-name>

<url-pattern>/Login</url-pattern>

</servlet-mapping>

  <servlet>
<servlet-name>SearchServlet</servlet-name>

<servlet-class>servlet.SearchServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>SearchServlet</servlet-name>

<url-pattern>/SearchServlet</url-pattern>

</servlet-mapping>






<servlet>

<servlet-name>studentInfo</servlet-name>

<servlet-class>servlet.studentInfoServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>studentInfo</servlet-name>

<url-pattern>/studentInfo</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>StudentLogin</servlet-name>

<servlet-class>servlet.StudentLoginServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>StudentLogin</servlet-name>

<url-pattern>/StudentLogin</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>UserDel</servlet-name>

<servlet-class>servlet.UserDelServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>UserDel</servlet-name>

<url-pattern>/UserDel</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>UpdataUser</servlet-name>

<servlet-class>servlet.UpdataUserServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>UpdataUser</servlet-name>

<url-pattern>/updataUser</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>add</servlet-name>

<servlet-class>servlet.AddServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>add</servlet-name>

<url-pattern>/add</url-pattern>

</servlet-mapping>



<servlet>

<servlet-name>modifyUser</servlet-name>

<servlet-class>servlet.ModifyUserServlet</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>modifyUser</servlet-name>

<url-pattern>/modifyUser</url-pattern>

</servlet-mapping>

<!-- 登录过滤 ，所有登录的用户必须在登录成功后设置session置，session.setAttribute("username",登录的用户)-->



<filter>

<filter-name>accessFilter</filter-name>

<filter-class>util.AccessController</filter-class>

</filter>


<filter-mapping>

<filter-name>accessFilter</filter-name>

<url-pattern>*.jsp</url-pattern>

</filter-mapping>

<!-- 登录过滤 -->


<!-- 设置seeion值，30分后系统不操作，自动退出 -->



<session-config>

<session-timeout>30</session-timeout>

</session-config>
</web-app>