body{
	font-family: "Microsoft YaHei",SimSun,verdana;
}
.contain{
	width:990px;
	height:auto;
	margin:0 auto;
}
div{
/*	border:1px red solid;
*/}
.head{
	width:990px;
	height:120px;
}
.logo{
	float:left;
	width:150px;
	height:100px;
}
.span1{
	display:block;
	font-style: normal;
	font-size:30px;
	width:100px;
	line-height:100px;
	float:left;
}
.border{
	height:10px;
	width:990px;
	background-color:brown;
}
.main{
	margin:20px auto;
	width:990px;
	height:auto;
	border:solid 0.5px darkgrey;
}
.guide{
	    color: #666;
	line-height:34px;
	width:990px;
	height:37px;
	margin:20px auto;
	background-color: gainsboro;
}
.check{
	
	width:133px;
	height:25px;
	float:left;
}
.check1{
	width:16px;
	height:18px;
	float:left;
	margin-right:10px;
}
.shangping{
	
	width:208px;
	height:32px;
	float:left;
}
.danjia{
	text-align: right;
	    padding-right: 40px;
	width:120px;
	height:32px;
	float:left;
}
.kong{
	width:170px;
	height:32px;
	float:left;
	
}
.shuliang{
	width:80px;
	height:32px;
	float:left;
	
	text-align: center;
}
.xiaoji{
	width:100px;
	height:32px;
	text-align: right;
	padding-right: 40px;
    float:left;
}
.caozuo{
	width:75px;
	height:32px;
	float:left;
}
#item{
	
	width:988px;
	height:auto;
	margin:10px auto;
	text-align: center;
}
.input1{
	width:25px;
	height:45px;
	left:10px;
	padding: 15px 0 10px;
	float:left;
}
.neirong{
	margin:10px auto;
	border:0.5px solid gainsboro;
	overflow:hidden;
	width:988px;
	height:108px;
	float:left;
	text-align: center;
}
.neirong1{
	
	margin:10px auto;
	width:300px;
	height:107px;
	float:left;
}
.pic2{
	width:82px;
	height:82px;
	float:left;
}
.pic3{
	width:208px;
	overflow:hidden;
	height:40px;
	float:left;
	
}
a{
	color: #333;
	text-decoration: none;
	font-size:12px;
}
a:hover{
	color:red;
}
.neirong2{
	margin:10px auto;
	width:150px;
	height:55px;
	float:left;
}
.pic4{
	line-height:20px;
	font-size:12px;
	width:130px;
	height:20px;
	margin-left:20px;
	
	
}
.neirong3{
		margin:25px auto;
	width:190px;
	height:70px;
	float:left;
	
}
.pic5{
	float:left;
	width:150px;
	height:20px;
}
.span3{
	display:block;
	text-align:center;
	margin-left:30px;
}
.neirong4{
		margin:25px auto;
	width:80px;
	height:67px;
	float:left;
}
.pic6{
	font-size:0;
	width:80px;
	height:22px;
	
}
.add{
	text-align:center;
	width:15px;
	height:22px
	float:left;
}
.low{
	text-align:center;
	width:15px;
	height:22px
	float:left;
}
.input2{
	text-align:center;
	width:40px;
	height:22px
	float:left;
}
.neirong5{
		margin:25px auto;
	width:140px;
	height:65px;
	float:left;
}
.pic7{
	width:100px;
	height:60px;
	
}
.neirong6{
	margin:25px auto;
	width:75px;
	height:60px;
	float:left;
	
}
.button1{
	background-color:#961527a8;
	width:70px;
	height:20px;
	border-radius:15px;
	font-size:10px;
}
.foot{
	/*position:fixed;*/
	border:0.5px solid gainsboro;
	width:990px;
	height:52px;
	margin:20px auto;
	/*bottom:0px;
	z-index: 999;
	background-color: white;*/
}
.jiesuan{
	background-color:brown;
	width:94px;
	height:52px;
	float:right;
}
.a1{
	margin:10px;
	font-family: "Microsoft YaHei";
	display:block;
	font-size:18px;
	color:white;
	text-align: center;
	letter-spacing: 5px;
}
.jine{
	width:86px;
	height:19px;
	float:right;
	margin-right:50px;
}
.span4{
	margin 10px auto;
	color:red;
	font-family: verdana;
	display:block;
	line-height:50px;
	text-align: center;
	font-size:20px;
}
